.eventText {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
}
.create-button{
    display: block;
    width: 20%;
}
.date-recorder {
    margin-top: 10px;
}
.hrr{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    width: 49%;
    text-align: left;
    display: block;
}
.cont{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    display: inline-block;
}

.blocksss{
    text-align: center;
    font-size: 15px;
    font-weight:600;
}